@model Cis.Domain.Models.Ingredient
@{
    Layout = null;
}
<html>
<head>
    <meta width="device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>
            Hello there
        </p>
    </div>
</body>
</html>